body{
    background-color: aquamarine;
}

.navbar{
    display: flex;
    justify-content: center;
    
}

.image{
    display: flex;
    justify-content: center;
}

.scene{
    width: 400px;
    height: 700px;
    border: 2px ridge 
}

#nav{
    background-color: cornsilk;
    display: flex;
    justify-content: center;;
    width: 400px;
}

.conatiner{
    display: flex;
    justify-content: center;
}
a{
    margin: 10px;
}
